<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>Label</key><string>com.popsedge.pr17c1.maintenance</string><key>ProgramArguments</key><array><string>./operations/launchd/run_pr17c1_maintenance.sh</string></array><key>StartCalendarInterval</key><dict><key>Hour</key><integer>4</integer><key>Minute</key><integer>29</integer></dict></dict></plist>
