<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>Label</key><string>com.popsedge.pr17c1.prospective</string><key>ProgramArguments</key><array><string>./operations/launchd/run_pr17c1_prospective.sh</string></array><key>StartInterval</key><integer>30</integer></dict></plist>
